<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    </head>
    <body>

    <h1>Библиотека</h1>


    <button id="addBookButton" class="btn btn-primary">Добавить книгу</button>
    <div id="addBookFormContainer" style="display: none;">
        <form id="addBookForm">
            <div class="form-group">
                <label for="name">Название</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <textarea class="form-control" id="description" name="description" required></textarea>
            </div>
            <button type="button" id="submitBookButton" class="btn btn-primary">Сохранить</button>
        </form>
    </div>


    <table id="bookTable" class="display" style="text-align: center;">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Имя</th>
                <th>Описание</th>
                <th>Статус</th>
                <th>Выдать/Вернуть</th>
                <th>Редактировать</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  
        <script src="~/js/site.js"></script>
    </body>
</html>
